<h1>
  Kanji Http
</h1>

<input placeholder="put api key here" [(ngModel)]="apiKey">
<button class="btn btn-primary" (click)="addApiKey()">Add</button>
<p>Welcome Message: {{ username }}</p>

<table class="one">
  <tr>
    <th>Characters</th>
  </tr>
  <tr *ngFor="let kanji of kanjiList">
    <td>{{ kanji.kanji.characters }},{{kanji.kanji.id}}</td>
  </tr>
</table>
<table class="two">
  <tr>
    <th>Vocab</th>
  </tr>
  <tr *ngFor="let vocab of vocabList">
    <td>{{ vocab.vocab.characters }} , {{vocab.vocab.component_subject_ids}}</td>
  </tr>
</table>
